extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 James Piaggio

        .portfolio-bio
          p 
            | Hi, my name is James and I am an aspiring Web Developer.
            | I have been learning code since 2018 and fell in love with trying to figure out how it all worked.
            | I enrolled in Team Treehouse's Full Stack JavaScript TechDegree program because I needed to know more.
            | I chose to learn JavaScript because I love how much you can do with it, from adding interactivity to 
            | creating routes and a server, the possibilities seem endless!
            | Let's take these endless possibilities and make something awesome together!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript (ES6)
          li Object-Oriented Programming
          li AJAX
          li FetchAPI
          li Node
          li Express 
          li Pug
          li Git
        h6 Contact Info

        ul
          li 814-515-2917
          li james.piaggio13@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/james-piaggio-63ba08167/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/JamesPiaggio' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  