.thumbnail {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-color: #2F6690;
  transition: .4s ease;
}

.thumbnail:hover {
  transform: scale(1.03);
  opacity: 80%;
}

a h5 {
  color: #3A7CA5;
  text-align: center;
}

.profile-pic {
  margin-bottom: 1rem;
  border: 4px solid #2F6690;
  border-radius: 0 10px;
}

pre {
  color: #2F6690;
}

body {
  background-color:#D9DCD6;
}

h1,h2,h3,h4,h5,p{
  color: #2F6690;
}

  h5{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
    color: #2F6690
  }

  h1,h2,h3,h4,h5 {
    font-family: 'Racing Sans One', cursive;
  }

  p, li{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #2F6690;
  }

.round{
  border-radius: 5px;
}

.button{
  background-color: #2F6690;
  border-radius: 10px;
  color: #D9DCD6;
  transition: .4s ease;
}

.button:hover{
  background-color: #3A7CA5;
  color: #D9DCD6;
  border: 1px solid #2F6690;
  transform: scale(1.05);
}

a{
  color: #2F6690;
}

a:hover{
  color: #3A7CA5;
}

.image{
  display: inline-block;
  max-width:70%;
  margin-bottom: 1rem;
  margin-left: -25%;
  border: 4px solid #2F6690;
  border-radius: 0 10px;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background: #D9DCD6;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #3A7CA5;
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #2F6690;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    transition: .4s ease;
  }

  .portfolio-me a:hover{
    color: #3A7CA5;
    font-size: 16px;
  }

.portfolio-breadcrumb{
  margin: auto;
  padding: 20px;
  border-bottom: 1px solid #2F6690;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   color: #2F6690;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
   transition: .4s ease;
 }
 
 .portfolio-breadcrumb a:hover {
   color: #3A7CA5;
   font-size: 16px;
 }

.portfolio-intro{
  margin: auto;
  padding: 40px 50px 30px;
  text-align: center;
}

.portfolio-intro p{
  border-bottom: 1px solid #2F6690;
  padding-bottom: 40px;
  color: #3A7CA5;
}

.portfolio-index{
  margin: auto;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index a{
    color: #3A7CA5;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: #2F6690;
}

.portfolio-bio{
    width: 70%;
    margin: auto;
}

p {
  font-size: 1.3rem;
}

li {
  text-align: left;
}