.thumbnail {
  border-radius: 10px;
  border-color: #45A29E;
}

pre {
  color: #66FCF1;
}

body {
  background-color:#1F2833;
  ;
}
a h5 {
  text-align: center;
}

h1,h2,h3,h4,h5,p{
  color: #66FCF1;
}

  h5{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
    color: #66FCF1
  }

  h1,h2,h3,h4,h5 {
    font-family: 'Racing Sans One', cursive;
  }

  p, li{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #45A29E;
  }

.round{
  border-radius: 5px;
}

.button{
  background-color: #C5C6C7;
  color: #0B0C10;
}

.button:hover{
  background-color: #45A29E;
  color: #0B0C10;
  transition: .3s ease;
}

a{
  color: #C5C6C7;
}

a:hover{
  color: #45A29E;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #45A29E;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background: #1F2833;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #C5C6C7;
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #C5C6C7;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #45A29E;
    transition: .3s ease;
  }

.portfolio-breadcrumb{
  margin: auto;
  padding: 20px;
  border-bottom: 1px solid #45A29E;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   color: #C5C6C7;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }
 
 .portfolio-breadcrumb a:hover {
   color: #45A29E;
   transition: .3s ease;
 }

.portfolio-intro{
  margin: auto;
  padding: 40px 50px 30px;
  text-align: center;
}

.portfolio-intro p{
  border-bottom: 1px solid #45A29E;
  padding-bottom: 40px;
  color: #C5C6C7;
}

.portfolio-index{
  margin: auto;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index a{
    color: #C5C6C7;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: #45A29E;
}

.portfolio-bio{
    line-height: 25px;
}

li {
  margin: 0;
}